@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .container {
        @apply max-w-7xl self-center;
    }
}

@layer base {
    @font-face {
        font-family: 'Circular STD';
        src: url('../src/assets/font/CircularStd-Bold.woff') format('woff');
    }

    html {
        font-family: inter;
    }

    h1 {
        font-family: Circular STD;
    }
}
